/*!
Theme Name: Kadence Child
Theme URI: https://www.kadencewp.com/kadence-theme/
Template: kadence
Author: Kadence WP
Author URI: https://www.kadencewp.com/
Description: A child theme for the Kadence Theme.
Version: 1.0.0
License: GNU General Public License v3.0 (or later)
License URI: https://www.gnu.org/licenses/gpl-3.0.html
Text Domain: kadence-child
*/

/* Theme customization starts here
-------------------------------------------------------------- */
#view-full {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 25px;
}
#view-full .button {
    background-color: #e78827;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border-radius: 30px;
    transition: 0.3s;
    padding: 13px 35px;
    display: inline-block;
    font-size: 18px;
}
#view-full .button::after {
    content: "\27A3";
    font-size: 30px;
    float: right;
    line-height: 27px;
    margin-left: 10px;
}
#view-full .button:hover {
    background-color: #d16f0b;
}

.page-id-28 #primary {
    display: none;
}